{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Photogur</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <header>
      <h1 class='main-header'>Photogur</h1>
    </header>
    {% block content %}
    {% endblock %}
    <footer class='main-footer'>Copyright Jeff Byrne, Inc.</footer>
  </body>
</html>
