<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Look, a page with pictures!</title>
  </head>
  <body>
    <h1>Welcome to {{ name }}'s page of pictures!</h1>
    <ul>
      {% for picture in pictures %}
      <a href="{% url 'picture_details' id=picture.pk %}">
        <li>
          <p>{{ picture.title }} by {{ picture.artist }}</p>
          <img src="{{ picture.url }}" alt="">
          <p>Comments: {{ picture.comments.count }}</p>
        </li>
      </a>
      {% endfor %}
    </ul>
  </body>
</html>
