* {
  box-sizing: border-box;
}

.main-header {
  padding: 20px 10px;
  border-bottom: solid 1px grey;
}

.main-header-text {
  color: grey;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.photo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}

@media (max-width: 1024px) and (min-width: 481px) {
  .photo-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .photo-list {
    grid-template-columns: 1fr;
  }
}

.photo-item {
  border: 1px solid lightgrey;
  /* max-width: 30%; */
  width: auto;
  margin: 10px 10px;
  padding: 5px;
}

.photo-title, .photo-comment-counter {
  color: grey;
}

.photo-image {
  max-width: 100%;
}

.main-footer {
  background-color: #333;
  margin: 10px 0 0 0;
  color: lightgrey;
  padding: 5px 0 0 5px;
  text-align: center;
}
